html, body, div, span,h2, h3, h4, h5, h6, p, blockquote,a,address,img,ul, li,footer, header,nav, section,input,button{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ul li{
    float: left;
}

body{
    background-color: #012f5a;
    font-family: "Garamond";

}

#wrapper{
   
    width: 960px;
    margin: 0 auto;
}

header{
    padding: 18px 20px 25px 30px;
    
    background: #111213; /* Old browsers */
background: -moz-linear-gradient(left, #111213 0%, #111213 49%, #28292a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #111213 0%,#111213 49%,#28292a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #111213 0%,#111213 49%,#28292a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111213', endColorstr='#28292a',GradientType=1 );

}

.logo{
    float:left;
    padding-top: 15px;
    
}

.logo a img{
    display: block;
}

.input{
    float: right;
    background: url("img/search_icon.png") 0 100px no-repeat;
    position: relative;
   
}

input{
    
    border-radius: 12px;
    padding-left: 30px;
    width: 125px;
    height: 18px;
    box-shadow: 1px 1px 10px #aaa9a9 inset;
    
}

input::-webkit-input-placeholder{
    font-size: 10px;
}
input:-moz-input-placeholder{
    font-size: 10px;
}
input:ms-input-placeholder{
    font-size: 10px;
}

.input img{
    position: absolute;    
}

.search_icon{
    left: 5px;
    top: 4px;
}

.search_dropdrown{
    left: 15px;
    top: 9px;
}

.clr{
    clear: both;
}

nav{
    float: right;
    margin-top: 33px;
}

nav ul{
    overflow: hidden;
}

nav ul li {
    list-style: none;
}
nav ul li a{
    font-size:12px;
    padding-right: 16px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    display: block;
}

ul li:last-child a{
    padding-right: 0px;
}

/*Start of banner*/

.bnr_img > img{
    display: block;
}
.bnr_title{
    background: #111213;
    padding:42px 20px 41px 30px;
}

.bnr_title p{
    font-size: 30px;
    color: #a3a3a3;
    width: 595px;
    padding-right:25px;
    float: left;
}

.social_media{
    float: right;
}

.social_media li{
    list-style: none;
    padding-top:10px;
}

.social_media li a{
    padding-right:6px;
}

.social_media li:last-child > a{
    padding-right: 0;
}

/*End of Banner*/

/*Start of Section*/

section{
    
}

.left_section{
    padding: 30px 60px 30px 30px;
    background: white;
    width: 623px;
}

article{
    
}

article img{
    float: left;
    border: 4px solid #e9e9e9;
    outline: 1px solid #f3f3f3;
    box-shadow: 0 0 0 1px #e5e5e5;
    margin-right: 32px;
}

article h2{
    font-size: 25px;
    color: #303030;
}

article h2 span{
    font-size: 10px;
    color: #2c83b0;
    display: block;
    margin-bottom: 10px;
}

article p{
    font-family: "Georgia";
    font-size: 13px;
    color: #303030;
    line-height: 20px;
}

article button{
    background: #5aa6cd; /* Old browsers */
    background: -moz-linear-gradient(top, #5aa6cd 0%, #45809e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #5aa6cd 0%,#45809e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #5aa6cd 0%,#45809e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5aa6cd', endColorstr='#45809e',GradientType=0 );
    border: none;
    box-shadow: 0px 1px 0px #232323;
    border-radius: 2px;
}

article button a{
    text-decoration: none;
    color: #e2e1e1;
    font-family: "HelveticaNeue";
    font-weight: lighter;
    font-size: 11px;
    display: block;
    padding: 5px 45px;
}